@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none !important;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 20px 40px 8px;
}

ul{
    display: flex;
    gap: 40px;
}

a{
    color: black !important;
}

.logo{
    font-size:1.3rem;
}

.cart{
    position: relative; /*para que el 0 se ponga en la esquina del carrito */
    background-color: #fff;
    color:black;
    font-size: 1.2rem;
    cursor: pointer;
}

.cartAmount{
    position: absolute;
    top: -12px;
    right: -8px;
    font-size:15px;
    padding: 3px;
    border-radius:3px;
}

body{
    background: #FFFFFF !important;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
}

.card{
    width: 17.875em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    padding: 0.5em;
    margin: 15px;
    padding: 0;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 40px;
}

.card-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
   
}

.btnBorrar{
    color: #fd4646;
    font-size: 21px;
}

.carritoContainer{
    max-width: 1200px;
    margin: auto;
}

.imagenes{
    height:284px;
}

.productoImg{
    width: 15%;
}

input{
    width: 30%
}
/* ------------------------ boton comprar ------------------------ */

/* From uiverse.io */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.btnComprar {
    width: 12rem;
    height: auto;
    margin-top: 20px;
    margin-bottom: 12px;
   }
   
   button.btnComprar .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.btnComprar .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.btnComprar .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.btnComprar .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.btnComprar .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


   
 .btnAddCarrito{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3d3d3d;
    color: #f5f5dc;
    padding: 10px;
    border-radius: 2px;
 }







 